sudo: required
dist: trusty
language: go

jobs:
  include:
    - stage: test
      go: 1.8
      install: skip
      script: TIMEOUT=5m make testgo
    - stage: test
      go: 1.8
      install: skip
      script: TIMEOUT=5m make testrace_core
    - stage: test
      go: 1.8
      install: skip
      script: TIMEOUT=5m make testrace_tlog
    - stage: test
      go: 1.8
      install: skip
      script: TIMEOUT=10m make testrace_gonbdserver
    - stage: test
      go: 1.8
      install:
        - go get -u github.com/Jumpscale/go-raml
        - ./scripts/install_capnp_unix.sh
      script: make testcodegen
