sudo: required
dist: trusty
language: go

jobs:
  include:
    - stage: test
      go: 1.8
      install: skip
      script: TIMEOUT=5m make testgo
    - stage: test
      go: 1.8
      install: skip
      script: TIMEOUT=5m make testrace
    - stage: test
      go: 1.8
      install: skip
      script: TIMEOUT=10m make testrace_gonbdserver
    - stage: test
      go: 1.8
      os: osx
      install:
        - go get -u github.com/Jumpscale/go-raml
        - ./tlog/install_capnp_macos.sh
      script: make testcodegen
