sudo: required
dist: trusty
language: go

go:
  - 1.6
  - 1.7
  - 1.8

install:
  - ./tlogserver/install_dependencies.sh

script:
  - go test $(go list ./... | grep -v vendor)
  - ./scripts/codegeneration.sh
